<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="editRecipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-danger" type="button">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="nameRecipe" id="" class="form-control" formControlName="nameRecipe">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image path</label>
                        <input type="text" id="imagePath" class="form-control" formControlName="imgPathRecipe"
                            #imgPathRecipeRef>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="imgPathRecipeRef.value !== ''">
                <div class="col-xs-12">
                    <img [src]="imgPathRecipeRef.value" class="img-responsive" style="max-height: 300px;">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="" cols="30" rows="6" class="form-control"
                            formControlName="descriptionRecipe"></textarea>
                    </div>
                </div>
            </div>
            <div class="row" formArrayName="ingredients">
                <div class="col-xs-12">
                    
                    <div class="row" *ngFor="let ingredientsControls of getIngredientsControls(); let i = index" formGroupName="i">

                        <div class="col-xs-8">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" type="button">X</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>