<app-header></app-header>
<div class="container" style="width: auto;">
    <div class="row">
        <div class="col-md-12">
            <!--It's no longer necessary since we're using Routing now.

                <app-recipes *ngIf="ieRecipesTab === 'recipes'; else shoppingList"></app-recipes>

            <ng-template #shoppingList>
                <app-shopping-list></app-shopping-list>
            </ng-template>-->
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer class="footer" >VERSION 0.1.1</footer>
</div>
